/* #region CSS RESET (Used for folding code) */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* #endregion  CSS Reset*/

/* #region || General Styles */
:root {
    /*Light Mode Colors*/
    --ltbg: #d7d7d7; 
    --orange: #ff9500;
    --ltsec: #017979;
    --lttext: #020d0b;
    --red: #ff1414;
    --ltred: #571818;

    /*Dark Mode Colors*/
    --dkbg: #413c3c;
    --dkorange: #ffb957;
    --dksec: #a5cdcd;
    --dktext: #f2fdfb;
    --dkred: #ac0000;
    --tan: #a29886;

    /*Colors*/
    --black: #050517; 
    --gray: #2D373C;
}
html {
    font-family: "Afacad Flux", Tahoma, sans-serif;
    box-sizing: border-box;
    color: var(--lttext);
    background-color: var(--black);
}
body {
    width: 1280px;
    height: 1024px;
    margin: 0 auto;
}
h2, h3 {
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
a {
    text-decoration: none;
    font-size: 20px;
}
div {
    font-size: 18px;
}
nav a:hover {
    color: var(--dktext);
}
p {
    font-size: 18px;
}
strong {
    font-weight: bold;
}
footer {
    display: block;
    height: 125px;
    text-align: center;
    background-color: var(--orange);
    padding-top: 20px;
}
footer a {
    position: relative;
    right: -600px;
}
footer svg {
    height: 35px;
}
/* #endregion || General Styles */

/* #region || Header and Main Navigation */
header {
    height: 350px;
}
.heroImage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/kitchenheader.jpg");
   height: 90%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.heroText h1 {
   font-family: "Fugaz One", sans-serif;
   text-align: center;
   position: relative;
   color: white;
   font-size:100px;
   top: 100px;
   text-transform: uppercase;
   text-shadow: 2px 2px 0 var(--black), 2px -2px 0 var(--black), -2px 2px 0 orange, -2px -2px 0 var(--black);
   letter-spacing: 4px;
}
header button {
    position: relative;
    z-index: 1;
    top: -2px;
    left: 1200px;
    border: none;
    padding: 0;
}
#toggleTheme {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggleTheme svg {
    fill: var(--ltsec);
    height: 30px;
    width: 30px;
}
#toggleTheme svg:last-child {
    display: none;
}
nav {
    background-color: var(--orange);
    width: 1280px;
    position: absolute;
    top: 311px;
    height: 55px;
}
nav ul {
    overflow: visible;
    position: relative;
    top: -10px;
    left: 100px; 
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
}
nav h2 {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}
nav li {
    text-align: center;
    text-transform: uppercase;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--gray);
}
.active {
    color: var(--lttext);
    text-decoration: underline;
    font-size: 25px;
    padding: 17px;
}
/* #endregion || Header and Main Navigation */

/* #region || Main Section */
.display {
    display: block;
}
.hide {
    display: none;
}
main section {
    height: 800px;
    padding: 20px;
    background-color: var(--ltbg);
}
/* #endregion || Main Section */

/* #region || Home Page */
#home {
    line-height: 60px;
    text-align: center;
}
#home h3 {
    font-size: 80px;
    margin-top: 50px;
    text-decoration: underline var(--orange);
}
#home p {
    font-size: 40px;
}
.gameForm {
    text-align: center;
    margin: 10px;
}
.gameForm label {
    font-size: 35px;
    text-decoration: underline;
}
#guessNumber {
    width: 50px;
    height: 50px;
    border-radius: 0;
    font-size: 30px;
    text-align: center;
}
.submitGuess {
    margin-top: 20px;
    background-color: orange;
    color: var(--lttext);
    text-align: center;
    height: 40px;
    border-radius: 0;
    font-size: 20px;  
    cursor: pointer;  
    font-weight:bold;
}
/* #endregion || Home Page */

/* #region || Services/Gallery */
#details {
   margin: 0 auto;
   width: 100%
}
.activeGallery {
   width: 1200px;
   height: 750px;
   overflow: auto;
   box-shadow: inset 7px -7px 7px rgba(0,0,0,0.5);
}
.galleryHide {
    display: none;
}
#services img:hover {
   filter: grayscale(0);
}
.gridContainer {
    display: grid;
    align-items: center;  
    justify-content: center;  
    grid-auto-flow: dense;
}
.gridContainer div {
   width: 325px;
   margin: 10px;
   display: inline-block;
   border: solid 2px var(--dktext);
   background-color: var(--tan);
   box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
   border-radius: 5px;
   transition: all .3s ease-in-out;
}
.gridContainer .firstDiv {
    background-color: var(--ltred);
    font-size: 18px;
    width: auto;
    color: var(--dktext);
    grid-column: 1 / 4;
}
.gridContainer a {
    color: var(--lttext);
}
.gridContainer a:hover, .gridContainer div:hover {
    color: var(--dktext);
}
 #services .gridContainer div:not(.firstDiv):hover {
    background-color: var(--ltred);
}
.gridContainer img {
    width: 300px;
    border: solid 2px var(--dktext);
    margin: 5px;
    padding: 5px;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.gridContainer div h2, .gridContainer div h3, .gridContainer div p {
   margin: 20px;
   padding: 0;
   text-align: center;
}
#returnToMain {
    position: relative;
    left: 565px;
    top: 10px;
    padding: 10px;
    background-color: var(--tan);
    border-radius: 5px;
    margin-top: 10px;
    color: var(--lttext);
}
#returnToMain:hover {
    background-color: var(--ltred);
    color: var(--dktext);
}
/* #endregion || Services/Gallery */

/* #region || About */
#about h2 {
    grid-column: 1 / 3;
    text-align: center;
}
#about svg {
    fill: black;
    height: 35px;
    width: 35px;
}
/* #endregion || About */

/* #region || Contact */
#contactPage {
    display: grid;
    grid-template-rows: 100px 100px 300px;
    justify-content: center;
}
#contactPage h3 {
    font-size: 30px;
}
form {
    height: 600px;
    box-sizing: border-box;
    padding: 10px;
    color: var(--lttext);
    border-radius: 10px;
    grid-row-start: 2;
}
#contactMessage  {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 16px;
}
#contactConfirm {
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
}
#fullName, #phone, #email { 
    width: 97%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 22px;
}
input {
    border-radius: 10px;
}
textarea {
    width: 97%;
    height: 100px;
    border-radius: 10px;
    resize: none;
    font-size: 22px;
}
.labels {
    margin-left: 15px;
    margin-top: 5px;
}
fieldset {
    width: 95%;
    padding: 10px 0 10px 10px;
    border: solid 2px var(--black);
    border-radius: 10px;
    margin-bottom: 15px;
}
legend {
    padding-left: 5px;
}
.radio, input[type=radio] {
    position: relative;
    left: 100px;
    padding: 0 20px 0 20px;
}
input[type=radio] {
    position: relative;
    left: 75px; 
}
.required {
   color: var(--red);
   font-size: 18px;
}
.radioHide {
    display: none;
}
#mySubmit {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--ltsec);
    margin-top: 10px;
    width: 100%;
    height: 50px;
}
#mySubmit:hover {
    background-color: var(--dkorange);
    border: solid 3px;
} 
.errorMessage {
    display: none;
    color: var(--red);
    font-weight: bold;
    margin: 0.2em 0;
}
.error {
    display: block;
}
.inputError {
    border: 2px solid var(--red);
}
/* #endregion || Contact */

/* #region || Dark Mode Styles */
.darkMode {
    color: var(--dktext);
}
.darkMode .heroText h1 {
    color: var(--ltbg);
}
.darkMode a:hover {
    color: var(--lttext);
}
.darkMode nav, .darkMode footer {
    background-color: var(--gray);
}
.darkMode nav ul a {
    color: var(--orange);
}
.darkMode .active {
    color: var(--dktext);
}
.darkMode main section {
    background-color: var(--dkbg);
}
.darkMode #toggleTheme svg:first-child {
    display: none;
}
.darkMode #toggleTheme svg:last-child {
    display: block;
    background-color: var(--white);
    fill: var(--orange);
}
.darkMode .firstDiv {
   color: var(--dktext);
   background-color: var(--ltsec);
}
.darkMode #returnToMain {
    color: var(--dktext);
    background-color: var(--ltsec); 
}
.darkMode #returnToMain:hover {
    background-color: var(--ltred);
}
.darkMode form {
    color: white;
}
.darkMode .required {
    color: var(--dkred);
}
.darkMode #mySubmit {
    background-color: var(--orange);
    color: var(--lttext);
}
.darkMode svg {
    fill: var(--dktext);
}
/* #endregion || Dark Mode Styles */